.navbar-fixed-top, .navbar-fixed-bottom {
  position: relative;
}
a.brand img{
  height: 75px;
  width: 250px;
}

.page-container{
  margin-top:60px;
}
#overview{
  margin-bottom: 160px;
}
hr.black-bar{
  height:51px;
  background: #000;
  margin-top:320px  ;
  margin-bottom: 360px;
}
section{
  padding-top:120px;
}

ul.nav.nav-pills{
  width: 400px;
  margin: 10px auto 20px;
}
ul.nav.nav-pills li{
  margin-right: 10px;
}
.hero-unit h1{
  margin-bottom:10px;
}
.hero-unit a.btn{
  margin-top: 10px;
}
.inactive_container section{
  display: none;
}

footer.footer{
  margin-top: 160px
}

p.facebook-like{
  margin-top: 10px
}

ol li{
  font-size: 18px;
  font-weight: 200;
  line-height: 27px;
}
span.muted{
  font-size: 13px;
}
